# Claude
.claude
CLAUDE.md

# Ignore files
.pt
.pth
.ckpt
.python-version

# Ignore directories
.venv
.git
__pycache__
logs
weights

data/*
!data/data_description.md

results/*
!results/result_description.md
